
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <form method="post" action="@Url.Action("ButtonSubmitClick", "SOGen")" >
    <h1 style="text-align: center;"><span style="color: #045fb4;">Service Order XML Generator</span></h1>

    <table id="table1">
        <tr>
            <td>NMI:</td>
            <td> <input id="nmi" name="nmi" type="text" runat="server" required placeholder="Enter a Valid NMI" pattern="[A-Za-z0-9]{10,10}" title="NMI should be 10 characters long"/> </td>
        </tr>
        <tr>
            <td>Checksum:</td>
            <td><input id="checkSum" name="checkSum" type="number" runat="server" required min="0" max="9"/></td>
        </tr>
        <tr>
            <td>
                To: 
                <select id="toDrop" name="toDrop" runat="server">
                    <option value="POWERCOR">Powercor</option>
                    <option value="POWCP">PowCP</option>
                </select>
            </td>
            <td>
                From:
                <select id="fromDrop" name="fromDrop" runat="server">
                    <option value="POWERCOR">Powercor</option>
                    <option value="POWCP">PowCP</option>
                </select>
            </td>
        </tr>
    </table>
    <br />

    <div style="text-align: center;">
        <input type="submit" value="Generate XML" />
    </div>
    </form>
</body>
</html>
