
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <form method="post" action="@Url.Action("ButtonSubmitClick", "SOGen")" >
    <h1 style="text-align: center;"><span style="color: #045fb4;">Service Order XML Generator</span></h1>

    <table id="table1">
        <tr>
            <td>NMI:</td>
            <td> <input id="nmi" name="nmi" size="10" type="text" runat="server" /> </td>
            <td>
                <asp:RequiredFieldValidator ID="NmiSumEmptyValidator" runat="server" ControlToValidate="nmi" ForeColor="Red" ErrorMessage="*"></asp:RequiredFieldValidator>
                <asp:RegularExpressionValidator ID="RegularExpressionValidator1" runat="server" ControlToValidate="nmi" ErrorMessage="NMI must be a unique 10 digit number" ForeColor="Red" ValidationExpression="\d{10}"></asp:RegularExpressionValidator>
            </td>
        </tr>
        <tr>
            <td>Checksum:</td>
            <td><input id="checkSum" name="checkSum" size="10" type="text" runat="server" /></td>
            <td>
                <asp:RequiredFieldValidator ID="CheckSumEmptyValidator" runat="server" ControlToValidate="checkSum" ForeColor="Red" ErrorMessage="*"></asp:RequiredFieldValidator>
                <asp:RegularExpressionValidator ID="CheckSumValidator" runat="server" ControlToValidate="checkSum" ErrorMessage="Checksum must be a 1 digit number" ForeColor="Red" ValidationExpression="\d{1}"></asp:RegularExpressionValidator>
            </td>
        </tr>
        <tr>
            <td>
                <select id="toDrop" name="toDrop" runat="server">
                    <option value="POWERCOR">Powercor</option>
                    <option value="POWCP">PowCP</option>
                </select>
            </td>
            <td>
                <select id="fromDrop" name="fromDrop" runat="server">
                    <option value="POWERCOR">Powercor</option>
                    <option value="POWCP">PowCP</option>
                </select>
            </td>
        </tr>
    </table>
    <br />

    <div style="text-align: center;">
        <input type="submit" value="Generate XML" />
    </div>
    </form>
</body>
</html>
