<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SOXmlGen</title>
</head>
<body>
    <input type="submit" name="btnSubmit" id="btnSubmit" value="Login" runat="server" onServerClick="Submit_Click"/>
</body>
</html>
