<h1 style="text-align: center;"><span style="color: #045fb4;">Service Order XML Generator</span></h1>
<p style="text-align: center;">NMI: <input name="nmi" size="10" type="text" />&nbsp;Checksum: <input size="1/" type="text" /></p>
<p style="text-align: center;">To:&nbsp;<select>
<option value="ToPOWERCOR">Powercor</option>
<option value="ToPOWCP">PowCP</option>
</select>&nbsp;From:&nbsp;<select>
<option value="FromPOWERCOR">Powercor</option>
<option value="FromPOWCP">PowCP</option>
</select></p>
<p style="text-align: center;">
    @using(Html.Begin
    
    <asp:Button onclick="genXMLButtonClick"> Generate XML </asp:Button></p>
<p style="text-align: center;">&nbsp;</p>